{%extends 'polls/base.html'%}

{%block content%}
<h1 class="header">Create New Todo List</h1>
     {% if warningmessage %}
         <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>{{warningmessage}}</strong>
         </div>
     {% endif %}
     {% if message %}
         <div class="info">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times</span>
            <strong>{{message}}</strong>
         </div>
     {% endif %}
     <BR><BR>
    <form action="{% url 'polls:createtodolist' %}" method="POST" >{% csrf_token %}
        <BR>
        <input hidden name="pagename" type="text" value="{{pagename}}">
        <label id="p">List Name:</label><BR>
        <input  type="text" name="listName" id="list_name" value="" onkeyup=disable_enable_button(create_todo_list_button,this)><BR>
        <table style="width:50em">
            <tr>
                <td>
                    <input type="submit" value="Create Now!" id="create_todo_list_button" disabled="true">
                </td>
            </tr>
        </table>
    </form>
</body>
{%endblock%}