{%extends 'polls/base.html'%}

{%block content%}
<h1 class="header">Entries List</h1>
 <form action="{% url 'polls:entries' %}" method="GET">{% csrf_token %}
     {% if entries %}
         <table class="customers">
             <thead>
                 <tr>
                     <td width="3%"></td>
                     <td width="1%" hidden>id</td>
                     <td width="20%">Titel</td>
                     <td width="40%">Description</td>
                     <td width="1%">Done</td>
                 </tr>
             </thead>
             {% for entry in entries%}
                <tr for="entry{{ forloop.counter }}">
                    <td> <label class="radiobuttoncontainer"><input type="radio" onclick=activate_entries_buttons()  name="entry" id="entry{{ forloop.counter }}" value="{{ entry.id }}"><span class="checkpoint"></span></label></td>
                    <td  hidden><label for="entry{{forloop.counter}}">{{entry.id}}</label></td>
                    <td><label for="entry{{forloop.counter}}">{{entry.entry_titel}}</label></td>
                    <td><label for="entry{{forloop.counter}}">{{entry.description}}</label></td>
                    <td>
                        {% if entry.selected == 'True'%}
                            <label class="container">
                                <input onchange=mark_entry_done(this.value) checked
                                                          id="entry{{forloop.counter}}"
                                                          name="checkboxdone"
                                                          type="checkbox" value="{{ entry.id }}">
                                <span class="checkmark"></span>
                            </label>
                        {% else %}
                            <label class="container">
                                <input onchange=mark_entry_done(this.value)
                                                          id="entry{{forloop.counter}}"
                                                          name="checkboxdone"
                                                          type="checkbox" value="{{ entry.id }}">
                                <span class="checkmark"></span>
                            </label>
                        {% endif %}
                    </td>
                </tr>
             {% endfor %}
         </table>
     {% endif %}
     <BR>
     <table>
         <tr>
             <td><input type="submit" value="Add" formaction="{% url 'polls:createentry' %}"></td>
             <td></td>
             <td><input id="edit_task" type="submit" value="Edit"  formaction="{% url 'polls:editentry' %}" formmethod="GET" disabled="true"></td>
             <td></td>
             <td><input id="delete_task" type="submit" value="Delete" onclick=confirm_delete_entry() formaction="{% url 'polls:entries' %}" formmethod="POST" disabled="true"></td>
         </tr>
     </table>
     <input hidden name="list_id" value={{list_id}}>
  </form>
{%endblock%}