{%extends 'polls/base.html'%}
{% load render_table from django_tables2 %}

{%block content%}
<h1 class="header">Entries List</h1>
 <form action="{% url 'polls:entries' %}" method="GET">
     {% csrf_token %}

     {% if entries %}
     <table class="customers">
         <thead>
             <tr>
                 <td width="20px"></td>
                 <td width="30px">id</td>
                 <td width="50px">Titel</td>
                 <td width="150px">Description</td>
                 <td width="60px">Done</td>
             </tr>
         </thead>
         {% for entry in entries%}
            <tr >
                <td width="20px" > <input type="radio" onclick=activate_entries_buttons()  name="entry" id="entry{{ forloop.counter }}" value="{{ entry.id }}"></td>
                <td width="30px">{{entry.id}}</td>
                <td width="200px">{{entry.entry_titel}}</td>
                <td width="300px">{{entry.description}}</td>
                <!--mark_entry_done(document.getElementById(this))-->
                <td width="60px" > <input onchange=mark_entry_done(document.getElementById(this)) id="entry{{forloop.counter}}" type="checkbox" name="checkboxdone" value="{{ entry.id }}" formaction=" {% url 'polls:entries' %}" formmethod="PUT"></td>
            </tr>
         {% endfor %}
     </table>
     {% endif %}
     <BR>
     <table>
         <tr>
             <td><input type="submit" value="Add Task" formaction="{% url 'polls:createentry' %}"></td>
             <td></td>
             <td><input id="delete_task" type="submit" value="Delete Task" formaction="{% url 'polls:entries' %}" formmethod="POST" disabled="true"></td>
         </tr>
     </table>
     <input hidden name="list_id" value={{list_id}}>
  </form>
{%endblock%}