{%extends 'polls/todolistsbase.html'%}

{%block todolistscontent%}
<h1 class="header">My Todo Lists</h1>
     {% if todo_lists %}
         <table class="customers">
             <thead>
                 <tr>
                     <td width="3%"></td>
                     <td width="1%" hidden>list id</td>
                     <td width="50%">list name</td>
                 </tr>
             </thead>
             {% for list in todo_lists %}
                <tr for="list{{ forloop.counter }}">
                    <td><label class="radiobuttoncontainer"><input type="radio" name="list_id" onclick=enable_my_todo_lists_buttons() id="list{{ forloop.counter }}" value="{{ list.id }}"><span class="checkpoint"></span></label></td>
                    <td hidden>{{list.id}}</td>
                    <td>{{list.name}}</td>
                    <span ></span>
                </tr>
             {% endfor %}
         </table>
         <BR>
     {% endif %}
     <input hidden  name="pagename" type="text" value="mytodolists">

{%endblock%}
