{%extends 'polls/base.html'%}
{% load static%}
{%block content%}
<h1 class="header">Todo Lists</h1>
    <!--
    {% if warningmessage %}
         <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>{{warningmessage}}</strong>
         </div>
     {% endif %}
     {% if message %}
         <div class="info">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>{{message}}</strong>
         </div>
     {% endif %}
     <BR><BR>
     -->
 <form action="{% url 'polls:entries' %}" method="GET">{% csrf_token %}
     {% if todo_lists %}
         <table class="customers">
             <thead>
                 <tr>
                     <td width="10px"></td>
                     <td width="30px">list id</td>
                     <td width="150px">list name</td>
                 </tr>
             </thead>
             {% for list in todo_lists %}
                <tr id="example" class="ready" onclick="#example">
                    <span onclick="#example">
                    <td width="10px"> <input type="radio" name="list_id" id="list{{ forloop.counter }}" value="{{ list.id }}"></td>
                    <td width="30px">{{list.id}}</td>
                    <td width="60px">{{list.name}}</td>
                    </span>
                </tr>
             {% endfor %}
         </table><BR>
     {% endif %}
    <script src="{% static 'scripts/main.js'%}"></script>
     <input hidden name="pagename" type="text" value="todolists">
     <table>
         <tr>
             <td><input type="submit" value="View Tasks"></td>
             <td></td>
             <td><input type="submit" value="Rename List" formaction="{% url 'polls:renamelist' %}"></td>
             <td></td>
             <td><input type="submit" value="Add List" formaction="{% url 'polls:createtodolist' %}"></td>
             <td></td>
             <td><input type="submit" value="Delete List" formaction="{% url 'polls:todolists' %}" formmethod="POST" onclick="return confirm('Are you sure you want to delete this?')" ></td>
             <td></td>
             <td><input type="submit" value="Add Member" formaction="{% url 'polls:addmember' %}"></td>
         </tr>
     </table>
  </form>
{%endblock%}
