{%extends 'polls/todolistsbase.html'%}

{%block todolistscontent%}
<h1 class="header">Todo Lists</h1>
     {% if todo_lists %}
         <table class="customers">
             <thead>
                 <tr>
                     <td width="3%"></td>
                     <td width="1%" hidden>list id</td>
                     <td width="50%">list name</td>
                 </tr>
             </thead>
             {% for list in todo_lists %}
                <tr for="list{{ forloop.counter }}">
                    <td><label class="radiobuttoncontainer"><input type="radio" onclick=enable_buttons({{ list.id }}) name="list_id" id="list{{ forloop.counter }}" value="{{ list.id }}"><span class="checkpoint"></span></label></td>
                    <td hidden>{{list.id}}</td>
                    <td>{{list.name}}</td>
                </tr>
             {% endfor %}
         </table><BR>
     {% endif %}
     <input hidden name="pagename" type="text" value="todolists">
{%endblock%}
